# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Providers
BaseProvider/*
BoundProvider/*
Generator/*

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
ctd
ctd_reusable
get_systematic
